
{% assign parentpage = page.path | remove:'_myworks/' | remove:page.slug | remove:'/'| remove:'.md'  %}
{% assign works = site.myworks | sort: 'flow' %}
<div class="ui grid">
  <div class="computer tablet only row">
    <div class="ui secondary pointing tiny menu">
      {% for work in works %}
       {% assign parentfolder = work.path | remove:'_myworks/' | remove:work.slug | remove:'/'| remove:'.md'  %}
       {% if parentfolder == parentpage %}
         <a href="{{ work.url}}" {% if  work.chapter == page.chapter %} class="item active" {% else %} class="item" {% endif %}>{{ work.chapter}}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="mobile only row">

  </div>
</div>
