---
# This is the Front Matter block
---


$pad: 1em;

#menu-top {
  padding-bottom: 0;
}

#menu-pages {
  margin-top: 50px;
}

#mainbody {
  margin-top: ($pad*8);
}

.tag-Research {

}
.xo.marginless {
  margin: 0em !important;
}

.xo.paddingless {
  padding: 0em !important;
}

.xo.marginfull {
  margin: $pad;
}

.xo.margin.bottom {
  margin-bottom: $pad;

  &.twofold {
  margin-bottom: ($pad*2);
  }
  &.fourfold {
  margin-bottom: ($pad*4);
  }
  &.sixfold {
  margin-bottom: ($pad*6);
  }
  &.eightfold {
  margin-bottom: ($pad*8);
  }
}

.xo.margin.top {
  margin-bottom: $pad;

  &.twofold {
  margin-top: ($pad*2);
  }
  &.fourfold {
  margin-top: ($pad*4);
  }
  &.sixfold {
  margin-top: ($pad*6);
  }
  &.eightfold {
  margin-top: ($pad*8);
  }
  &.tenfold {
  margin-top: ($pad*10);
  }
}

.xo.margin.left {
  margin-left: $pad;

  &.half {
    margin-left: ($pad/2) !important;
  }

  &.without {
    margin-left: 0em !important;
  }

  &.twofold {
  margin-left: ($pad*2);
  }
  &.fourfold {
  margin-left: ($pad*4);
  }
  &.sixfold {
  margin-left: ($pad*6);
  }
  &.eightfold {
  margin-left: ($pad*8);
  }
}

.xo.padding.bottom {
  padding-bottom: $pad;

  &.half {
    padding-bottom: ($pad/2) !important;
  }

  &.without {
    padding-bottom: 0em !important;
  }

  &.twofold {
  padding-bottom: ($pad*2);
  }
  &.fourfold {
  padding-bottom: ($pad*4);
  }
  &.sixfold {
  padding-bottom: ($pad*6);
  }
  &.eightfold {
  padding-bottom: ($pad*8);
  }
}

.xo.padding.top {
  padding-top: $pad;

  &.half {
    padding-top: ($pad/2) !important;
  }

  &.without {
    padding-top: 0em !important;
  }

  &.twofold {
  padding-top: ($pad*2);
  }
  &.fourfold {
  padding-top: ($pad*4);
  }
  &.sixfold {
  padding-top: ($pad*6);
  }
  &.eightfold {
  padding-top: ($pad*8);
  }
  &.tenfold {
  padding-top: ($pad*10);
  }
}

.xo.padding.left {
  padding-left: $pad;

  &.half {
    padding-left: ($pad/2) !important;
  }

  &.without {
    padding-left: 0em !important;
  }

  &.twofold {
  padding-left: ($pad*2);
  }
  &.fourfold {
  padding-left: ($pad*4);
  }
  &.sixfold {
  padding-left: ($pad*6);
  }
  &.eightfold {
  padding-left: ($pad*8);
  }
}

.xo.text {

  &.small {
    font-size: 0.9em;
  }
  &.smaller {
    font-size: 0.8em;
  }

}
