<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

          {% include header.html %}

      <div class="ui grid" id=mainbody>
        <div class="ui container">
          <article class="algolia__initial-content js-algolia__initial-content">
            {{ content }}
          </article>

          <div class="algolia__search-content js-algolia__search-content xo margin top eightfold">
            <h1 class="ui center aligned header xo padding bottom">Search Results</h1>
            <div class="posts algolia__results"></div>
          </div>
        </div>
          {% include footer.html %}
      </div>


      <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
      <script type="text/javascript" src="{{ "/assets/js/instantsearch.js" | prepend: site.baseurl }}"></script>

      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78642734-2', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
anchors.options = {
  visible: 'always',
  placement: 'left'
};
anchors.add('h3');</script>\

  </body>

</html>
