---
layout: default
---

<div class="ui text container">
  <div class=" basic right floated ui segment">
    <span class="likebtn-wrapper" data-theme="squarespace" data-white_label="true" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-counter_zero_show="true" data-popup_disabled="true" data-popup_style="dark" data-site_id="58a4ac9c943ec9105e2ece0d"></span>
  </div>
  <h1 class="ui header xo padding bottom">{{ page.title }}
    <div class="sub header">{{ page.date | date: "%b %-d, %Y" }}
    </div>
  </h1>
    {{ content }}
</div>
