---
layout: default
---

{% if page.flow == 1 %}
<h1 class="ui header xo marginless bottom">{{ page.title }}
  <div class="sub header">{{ page.subtitle }}
  </div>
</h1>

<div class="ui mini horizontal bulleted list xo marginless top">
  <div class="item">
    date: {{ page.pretty-date | downcase }}
  </div>
  <div class="item">
    reading time: {{ page.content | reading_time }}
  </div>
  <div class="item">
    tags:
    {% for tag in page.tags %}
      {% if forloop.last == true %}
        {{ tag }}
      {% else %}
        {{ tag }},
      {% endif %}
    {% endfor %}
  </div>
  {% if page.pdf or page.slides %}
  <div class="item">
    open:
      {% if page.pdf %}
        <a href="/assets/pdf/{{ page.slug }}.pdf">pdf</a>
      {% endif %}
      {% if page.slides %}
        <a href="/assets/pdf/{{ page.slug }}.pdf">slides</a>
      {% endif %}
  </div>
  {% endif %}
</div>

{% else %}
  {% assign parent_page = page.parent  %}
  {% for work in site.myworks %}

    {% if work.parent == parent_page and work.flow == 1 %}
      <h1 class="ui header xo marginless bottom">{{ work.title }}
        <div class="sub header">{{ work.subtitle }}
        </div>
      </h1>
      <div class="ui mini horizontal bulleted list xo marginless top">
        <div class="item">
          date: {{ work.pretty-date | downcase }}
        </div>
        <div class="item">
          reading time: {{ page.content | reading_time }}
        </div>
        <div class="item">
          tags:
          {% for tag in work.tags %}
            {% if forloop.last == true %}
              {{ tag }}
            {% else %}
              {{ tag }},
            {% endif %}
          {% endfor %}
        </div>
        {% if page.pdf or page.slides %}
        <div class="item">
          open:
            {% if page.pdf %}
              <a href="/assets/pdf/{{ page.slug }}.pdf">pdf</a>
            {% endif %}
            {% if page.slides %}
              <a href="/assets/pdf/{{ page.slug }}.pdf">slides</a>
            {% endif %}
        </div>
        {% endif %}
      </div>

    {% endif %}
  {% endfor %}
{% endif %}

<div class="ui segment xo small text">
<em>
{% include_relative prologue.md %}
</em>
</div>
{% include tabsmenu.html %}



{{ content }}
